@import './_base.scss';

.van-step {
  [data-theme="dark"] & {
    color: $baseColor_dark;
  }
  [data-theme="light"] & {
    color: $baseColor_light;
  }
}
.van-step__line {
  [data-theme="dark"] & {
    background-color: $baseBckColor_light_alpha50;
  }
  [data-theme="light"] & {
    background-color: $baseBckColor_dark_alpha50;
  }
}
.van-steps {
  [data-theme="dark"] & {
    background-color: $baseBckColor_dark;
  }
  [data-theme="light"] & {
    background-color: $baseBckColor_light;
  }
}
.van-step--horizontal .van-step__circle-container {
  [data-theme="dark"] & {
    background-color: $baseBckColor_dark;
  }
  [data-theme="light"] & {
    background-color: $baseBckColor_light;
  }
}
.van-cell {
  [data-theme="dark"] & {
    background-color: $baseBckColor_dark;
  }
  [data-theme="light"] & {
    background-color: $baseBckColor_light;
  }
}
.van-cell::after {
  border-bottom: unset !important;
}

.van-progress {
  background-color: transparent !important;
}
.van-divider {
  [data-theme="dark"] & {
    background-color: $baseBorderColor_light_alpha50;
  }
  [data-theme="light"] & {
    background-color: $baseBorderColor_dark_alpha50;
  }
}
